@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


:root {
  --background-color: #f4f2ef;
  --accent-color: #cb6c3c;
}

* {
  box-sizing: border-box;
}
html {
  background-color: var(--background-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'EB Garamond', serif;
}
body {
  margin: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

#logo {
  width: 18%;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--background-color);
  font-family: 'Mukta', sans-serif;
}

.navbar-menu {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.navbar-menu li {
  color: #cb6c3c;
  padding: 10px 32px;
  overflow: auto;
  white-space: nowrap;
}

.navbar-menu li:hover {
  color: #ffffff;
  background: linear-gradient( 45deg, #f4f4be, #eab998 );
  opacity: 1;
  transition: all .2s;
  width: auto;
}

.navbar-toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

.house-rules {
  float: left;
  width: 40vw;
  height: auto;
  margin-top: 4%;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.hours {
  float: left;
  width: 18vw;
  height: auto;
  margin-top: 2.8%;
  margin-right: 2.8%;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.location {
  float: left;
  width: 18vw;
  height: auto;
  margin-top: 2.8%;
  margin-left: 1.2%;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 992px) {
  #logo {
    width: 15%;
    height: auto;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar-menu a {
    display: block;
  }

  .navbar-toggleBtn {
    display: block;
  }

  .navbar-menu.active {
    display: flex;
  }

  .image-container {
    padding-top: 3%;
    position: relative;
    margin: auto;
  }
  .house-rules {
    float:left;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 5%;
    transition: ease-in-out 3s;
  }
  .hours {
    float: left;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
  }
  .location {
    float: left;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 600px) {
  #logo {
    width: 18%;
    height: auto;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar-menu a {
    display: block;
  }

  .navbar-toggleBtn {
    display: block;
  }

  .navbar-menu.active {
    display: flex;
  }

  .image-container {
    position: relative;
    margin: auto;
  }
  .house-rules {
    float:left;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 5%;
  }
  .hours {
    float: left;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
  }
  .location {
    float: left;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 10%;
  }
}
.img-slide {
  width: 80%;
  height: auto;
}

footer {
  position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
  height: 80px;
	padding-top: 1.5%;
	background-color: rgba(244, 242, 239, 0.8);
}

.social-media i {
  padding-left: 50px;
  padding-right: 20px;
  color: #cb6c3c;
}

.cursor i {
  float: right;
  padding-right: 50px;
  color: #cb6c3c;
}

.img-slide {
  width: 100%;
}
.height {
  height: 10px;
}

.mainpage-img {
  float: left;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
}

.image-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}
 
.right {
  right: 0;
}
 
.left,
.right {
  color: #eab998;
  cursor: pointer;
  position: absolute;
  top: 55%;
  padding: 10px;
  margin-top: -25px;
  opacity: 90%;
}

.captionText {
  color: #000000;
  font-size: 14px;
  position: absolute;
  padding: 12px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fa {
  font-size: 32px;
}
 
.fa:hover {
  transform: rotate(360deg);
  transition: 1s;
  color: #cb6c3c;
}
 
.dot {
  text-align: center;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 5px;
  background-color: #eab998;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}
 
.dot:hover {
background-color: #cb6c3c;
}

.vertical-nav {
  text-align: center;
  list-style-type: none;
  background-color: var(--background-color);
  width: 20%;
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.vertical-nav li {
  line-height: 400%;
}

.vertical-nav li a {
  text-decoration: none;
  display: block;
  color: #eab998;
  padding: 8px 15px 8px 15px;
  font-weight: bold;
}

.vertical-nav li a:hover {
  background: linear-gradient( 45deg, #f4f4be, #eab998 );
  color: #ffffff;
}

.contact {
	height: 100%;
}

.conatact1 a {
	font-size: 14px;
	line-height: 1.7;
	color: #cb6c3c;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.conatact1 a:focus {
	outline: none !important;
}

.conatact1 a:hover {
	text-decoration: none;
	color: #cb6c3c;
}

p {
	font-size: 14px;
	line-height: 1.7;
	color: #cb6c3c;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
	outline: none;
	border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

textarea {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #505050; }
input:-moz-placeholder { color: #505050; }
input::-moz-placeholder { color: #505050; }
input:-ms-input-placeholder { color: #505050; }

textarea::-webkit-input-placeholder { color: #505050; }
textarea:-moz-placeholder { color: #505050; }
textarea::-moz-placeholder { color: #505050; }
textarea:-ms-input-placeholder { color: #505050; }

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;

  background:#f4f2ef;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 1163px;
  background: #f4f2ef;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 90px 130px 88px 148px;
}

.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%;
}

.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-size: 24px;
  color: #cb6c3c;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-size: 15px;
  line-height: 1.5;
  color: #cb6c3c;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #eab998;
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

.container-contact1-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #cb6c3c;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: linear-gradient( 45deg, #f4f4be, #eab998 );
  color: #cb6c3c;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}


@media screen and (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media screen and (max-width: 992px) {

  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}

.validate-input {
  position: relative;
}

.menu-p {
  margin-left: 25%;
  height: auto;
  color: #1f1f1f;
  font-family: 'EB Garamond', serif;
}

.menu-title {
  text-align: center;
  margin-left: 15%;
  color: #cb6c3c;
}

.menu-left {
  float: left;
  width: 300px;
  height: 250px;
  margin-left: 30%;
  margin-right: 20%;
  text-align: center;
}

.menu-right {
  float: left;
  width: 300px;
  height: 250px;
  text-align: center;
}

.menu-sub-title {
  text-align: center;
  margin-left: 15%;
  color: #1f1f1f;
}

.menu-center {
  display: table;
  margin-left: 37%;
  margin-right: 10%;
  width: 700px;
  height: 300px;
}

.menu-center-left {
  display: table-cell;
  float: left;
  text-align: left;
  width: 260px;
}
.menu-center-left2 {
  display: table-cell;
  float: left;
  text-align: right;
}

.menu-center-right {
  padding-left: 10%;
  display: table-cell;
  float: left;
  text-align: left;
  width: 300px;
}

.menu-center-right2 {
  display: table-cell;
  float: right;
  text-align: right;
}

.menu-center-center {
  text-align: left;
  display: table-cell;
  float: left;
  width: 400px;
  padding-left: 20%;
}

.menu-center-center2 {
  padding-left: 10%;
  display: table-cell;
  float: left;
  text-align: left;
}

@media screen and (max-width: 1400px) {
  .menu-title {
    margin-left: 20%;
    padding-top: 2%;
    text-align: center;
    color: #cb6c3c;
  }

  .menu-left {
    float: left;
    width: 300px;
    height: 250px;
    margin-left: 30%;
    margin-right: 15%;
    text-align: center;
  }
  
  .menu-right {
    float: left;
    width: 300px;
    height: 250px;
    text-align: center;
  }
}

@media screen and (min-width:1201px) and (max-width: 1420px) {
  .menu-title {
    margin-left: 15%;
    padding-top: 2%;
    text-align: center;
    color: #cb6c3c;
  }

  .menu-left {
    float: left;
    width: 300px;
    height: 250px;
    margin-left: 30%;
    margin-right: 10%;
    text-align: center;
  }
  
  .menu-right {
    float: left;
    width: 300px;
    height: 250px;
    text-align: center;
  }

  .menu-sub-title {
    text-align: center;
    margin-left: 15%;
    color: #1f1f1f;
  }
  
  .menu-center {
    display: table;
    margin-left: 32.5%;
    margin-right: 10%;
    width: 700px;
    height: 300px;
  }
  
  .menu-center-left {
    display: table-cell;
    float: left;
    text-align: left;
    width: 260px;
  }
  .menu-center-left2 {
    display: table-cell;
    float: left;
    text-align: right;
  }
  
  .menu-center-right {
    padding-left: 10%;
    display: table-cell;
    float: left;
    text-align: left;
    width: 300px;
  }
  
  .menu-center-right2 {
    display: table-cell;
    float: right;
    text-align: right;
  }

  .menu-center-center {
    text-align: left;
    display: table-cell;
    float: left;
    width: 400px;
    padding-left: 10%;
  }
  
  .menu-center-center2 {
    padding-left: 8%;
    display: table-cell;
    float: left;
    text-align: left;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .menu-title {
    padding-top: 2%;
    text-align: center;
    color: #cb6c3c;
  }
  .menu-left {
    float: left;
    width: 300px;
    height: 250px;
    margin-left: 28%;
    margin-right: 5%;
    text-align: center;
  }
  
  .menu-right {
    float: left;
    width: 300px;
    height: 250px;
    text-align: center;
  }

  .menu-sub-title {
    padding-left: 4%;
    text-align: center;
    margin-left: 15%;
    color: #1f1f1f;
  }
  
  .menu-center {
    display: table;
    margin-left: 24%;
    margin-right: 10%;
    width: 700px;
    height: 300px;
  }
  
  .menu-center-left {
    display: table-cell;
    float: left;
    text-align: left;
    width: 260px;
  }
  .menu-center-left2 {
    display: table-cell;
    float: left;
    text-align: right;
  }
  
  .menu-center-right {
    padding-left: 10%;
    display: table-cell;
    float: left;
    text-align: left;
    width: 300px;
  }
  
  .menu-center-right2 {
    display: table-cell;
    float: right;
    text-align: right;
  }

  .menu-center-center {
    text-align: left;
    display: table-cell;
    float: left;
    width: 400px;
    padding-left: 0%;
  }
  
  .menu-center-center2 {
    display: table-cell;
    float: left;
    text-align: left;
  }
}

@media screen and (max-width: 992px) {
  .menu-title {
    padding-top: 2%;
    text-align: center;
    color: #cb6c3c;
  }

  .menu-left {
    width: 300px;
    height: 250px;
    margin-left: 44%;
    text-align: center;
  }
  
  .menu-right {
    width: 300px;
    height: 250px;
    margin-left: 44%;
    margin-right: 10%;
    text-align: center;
  }

  .menu-sub-title {
    padding-left: 4%;
    text-align: center;
    margin-left: 15%;
    color: #1f1f1f;
  }
  
  .menu-sub-title {
    padding-left: 4%;
    text-align: center;
    margin-left: 15%;
    color: #1f1f1f;
  }
  
  .menu-center {
    display: table;
    margin-left: 23%;
    margin-right: 10%;
    width: 700px;
    height: 300px;
  }
  
  .menu-center-left {
    display: table-cell;
    float: left;
    text-align: left;
    width: 260px;
  }
  .menu-center-left2 {
    display: table-cell;
    float: left;
    text-align: right;
  }
  
  .menu-center-right {
    padding-left: 10%;
    display: table-cell;
    float: left;
    text-align: left;
    width: 300px;
  }
  
  .menu-center-right2 {
    display: table-cell;
    float: right;
    text-align: right;
  }

  .menu-center-center {
    text-align: left;
    display: table-cell;
    float: left;
    width: 400px;
    padding: 0%;
  }
  
  .menu-center-center2 {
    padding: 0;
    display: table-cell;
    float: left;
    text-align: left;
  }
}

@media screen and (max-width: 576px) {
  .menu-title {
    padding-top: 2%;
    text-align: center;
    color: #cb6c3c;
  }

  .menu-left {
    width: 300px;
    height: 250px;
    margin-left: 28%;
    margin-right: 28%;
    text-align: center;
  }
  
  .menu-right {
    width: 300px;
    height: 250px;
    margin-left: 28%;
    margin-right: 28%;
    text-align: center;
  }

  .menu-sub-title {
    padding-left: 2%;
    text-align: center;
    margin-left: 15%;
    color: #1f1f1f;
  }

  .menu-center {
    display: table;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    width: 300px;
  }

  .menu-center-left {
    display: table-cell;
    float: left;
    text-align: left;
    width: 260px;
  }
  .menu-center-left2 {
    display: table-cell;
    float: left;
    text-align: center;
  }
  
  .menu-center-right {
    padding-top: 5%;
    display: table-cell;
    float: left;
    text-align: left;
    width: 260px;
  }
  
  .menu-center-right2 {
    padding-top: 5%;
    display: table-cell;
    float: right;
    text-align: center;
  }

  .menu-center-center {
    text-align: left;
    display: table-cell;
    float: left;
    width: 220px;
    padding: 0%;
  }
  
  .menu-center-center2 {
    padding: 0;
    display: table-cell;
    float: left;
    text-align: left;
  }
}

#about {
  width: 100vw;
  height: 80vh;
}

#map {
  width: 100vw;
  height: 100vh;
  background-color: #eab998;
}

.about-headline {
  flex-direction: column;
  float: left;
  text-align: left;
  padding-top: 2%;
  padding-left: 4%;
  font-size: 280%;
  width: 40%;
  line-height: 150%;
  font-family: 'Mukta', sans-serif;
  font-weight: 800;
  color: #1f1f1f;
}

.about-p {
  float:left;
  text-align: left;
  margin-left: 4%;
  margin-right: 50%;
  margin-top: 20%;
  width: 32%;
  position: absolute;
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
  line-height: 36px;
  color: #1f1f1f;
}

#chef {
  display: table-cell;
  float: left;
  width: 35%;
  height: 30%;
  margin-left: 13%;
  padding-top: 2%;
}

#steak {
  position: absolute;
  width: 14%;
  z-index: 100;
  left: calc(100%-7000px);
  margin-top: 22%;
  margin-left: 2%;
}

.map {
  margin-left: 4%;
}

.map-headline {
  flex-direction: column;
  float: left;
  text-align: left;
  padding-left: 63%;
  font-size: 280%;
  width: 90%;
  font-family: 'Mukta', sans-serif;
  font-weight: 800;
  color: #1f1f1f;
  background-color: none;
}

.map-p {
  float:right;
  text-align:center;
  padding-left: 58%;
  width: 90%;
  padding-top: 5%;
  position: absolute;
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
  line-height: 36px;
  color: #1f1f1f;
}

.buttons {
  margin-top: 5%;
  text-align: center;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #eab998;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  margin-bottom: 3%;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 6px solid #eab998;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 9px;
  top: 9px;
  width: 100%;
  height: 100%;
  border: 6px solid #cb6c3c;
  transition: all 0.3s 0.2s;
}
.blob-btn:hover {
  color: #222;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 6px;
  width: 25%;
  height: 100%;
  background: #cb6c3c;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

.order-body {
  font-family: 'Mukta', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Cabin);

.scroll{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mouse{
  width: 52px;
  height: 88px;
  position: relative;
  background: #eab998 linear-gradient(#cb6c3c 0%,
                                      #cb6c3c 50%,
                                      #f4f2ef 50%,
                                      #f4f2ef 100%);
  background-size: 100% 200%;
  border-radius: 100px;
  animation: colorSlide 5s linear infinite,
             nudgeMouse 5s ease-out infinite;
}
.mouse:before,
.mouse:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.mouse:before{
  width: 46px;
  height: 82px;
  background-color: #eab998;
  border-radius: 100px;
}
.mouse:after{
  background-color: #f4f2ef;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  animation: trackBallSlide 5s linear infinite;
}
.text{
  margin-top: 50px;
  font-family: Cabin;
  letter-spacing: 12px;
  color: #eab998;
  text-indent: 12px;
  animation: colorText 5s ease-out infinite,
             nudgeText 5s ease-out infinite;
}

/* Animations */
@keyframes colorSlide{
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #cb6c3c;
  }
  29.99% {
    background-color: #f4f2ef;
    background-position: 0% 0%;
  }
  30% {
    background-color: #cb6c3c;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #cb6c3c;
  }
  59% {
    background-color: #f4f2ef;
    background-position: 0% 0%;
  }
  60% {
    background-color: #cb6c3c;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #cb6c3c;
  }
  90%, 100% {
    background-color: #f4f2ef;
  }
}

@keyframes colorText{
  21% {
    color: #cb6c3c;
  }
  30% {
    color: #eab998;
  }
  51% {
    color: #cb6c3c;
  }
  60% {
    color: #eab998;
  }
  81% {
    color: #cb6c3c;
  }
  90% {
    color: #eab998;
  }
} 

@keyframes trackBallSlide{
  0%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6%{
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14%{
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%, 19%{
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36%{
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44%{
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%, 49%{
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60%{
    opacity: 1;
    transform: scale(0.9) translateY(-20px);
  }
  66%{
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74%{
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%, 79%{
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%, 100%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}
@keyframes nudgeMouse{
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(8px);
  }
  30%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(8px);
  }
  60%{
    transform: translateY(0);
  }
  80%{
    transform: translateY(8px);
  }
  90%{
    transform: translateY(0);
  }
}
@keyframes nudgeText {
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(2px);
  }
  30%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(2px);
  }
  60%{
    transform: translateY(0);
  }
  80%{
    transform: translateY(2px);
  }
  90%{
    transform: translateY(0);
  }
}