@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Zen+Antique&display=swap');

:root {
    --body-color: linear-gradient(90deg, hsl(270, 45%, 27%) 0%, hsl(271, 61%, 8%) 100%);
    --container-color: linear-gradient(136deg, hsl(270, 45%, 20%) 0%, hsl(271, 61%, 5%) 100%);
    --font-color: rgb(254, 255, 247);
    --1 : #ad9fde;
    --2 : rgb(252, 127, 0);
}

.gallery-container {
    font-family: 'Zen Antique', serif;
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #000000;
}

.gallery {
    padding: 10%;
}

.gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.gallery .lightbox img {
    border-radius: 4px 4px 0 0;
    object-fit: cover;
}

.gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.gallery .caption p {
    font-family: 'Zen Antique', serif;
    font-size: 12px;
    color: var(--font-color);
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .title {
        padding-top: 10%;
    }

    .gallery {
        padding-top: 20%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .gallery .caption p {
        font-family: 'Zen Antique', serif;
        font-size: 12px;
        color: var(--font-color);
        margin: 0;
    }

    .gallery-title {
        padding-top: 10%;
    }

    .gallery {
        padding-top: 25%;
    }
}