@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
    --background: #fff;
    --1: #d3c6b6;
    --2: #ab977f;
    --3: #d1b38e;
}

body {
    background: var(--1);
    font-family: 'EB Garamond', serif;
}

/*home.html*/
/*nav*/
nav {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
}

#cart {
     width: 20px;
}

.nav-item {
    font-size: small;
}

/*carousel*/
.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 100%;
    width: auto;
}

.carousel-item {
    text-align: center;
}

.carousel {
    height: 600px;
}

/*footer*/
footer {
    font-size: small;
    font-family: 'EB Garamond', serif;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

/*shop.html*/
/*nav*/
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--1);
}

.nav-pills {
    margin:2% 10% 0 10%;
}

.nav-link:hover, .nav-link:focus {
    color: var(--1);
}

.nav-link {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: small;
}

/*card*/
#shopping-card{
    margin:4% 2% 0 2%;

}

.card-item {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 0.25rem;
}

.card-text{
    margin-top: 100%;
    margin-bottom: 0;
}

.btn-in-card {
    margin-bottom: 0;
    font-size: medium;
    font-family: 'EB Garamond', serif;
    color: #000000;
}
.btn-in-card:hover {
    color: #000000;
    font-size: medium;
    box-shadow: inset 0 -11px 0 var(--2);
    line-height: 21px;
}

/*cart.html*/
.cart-container {
    background: var(--1);
    background: -webkit-linear-gradient(to right, #d3c6b6, #ab977f);
    background: linear-gradient(to right, #d3c6b6, #ab977f);
    min-height: 100vh;
}

.credit-card{
    background-color: var(--background);
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-holder {
    margin: 2em 0;
}

.img-box {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.card-box {
    font-weight: 800;
    padding: 1em 1em;
    border-radius: 0.25em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn-primary{
    font-family: 'EB Garamond', serif;
    background-image: -webkit-linear-gradient(315deg, #d3c6b6 0%, #d1b38e 100%);
    background-image: -moz- oldlinear-gradient(315deg, #d3c6b6 0%, #d1b38e 100%);
    background-image: -o-linear-gradient(315deg, #d3c6b6 0%, #d1b38e 100%);
    background-image: linear-gradient(135deg, #d3c6b6 0%, #d1b38e 100%);
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
    border: none !important;
}

.credit-card form{
    background-color: var(--background);
    padding: 0;
    max-width: 600px;
    margin: auto;
}

.credit-card .title{
    font-family: 'Abhaya Libre', serif;
    font-size: 1em;
    color: black;
    border-bottom: 1px solid var(--2);
    margin-bottom: 0.8em;
    font-weight: 600;
    padding-bottom: 8px;
}
.credit-card .card-details{
    padding: 25px 25px 15px;
}

.inner-addon {
    position: relative;
}

.inner-addon .fas, .inner-addon .far {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: var(--background); !important;
}
.right-addon .fas, .right-addon .far { right: 0px; top: 40px;}
.right-addon input { padding-right: 30px; }

.credit-card .card-details label{
    font-family: 'Abhaya Libre', serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--2);
    text-transform: uppercase;
}

.credit-card .card-details input[type="text"] {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: var(--background);
    color:var(--2);
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--2);;
}
.credit-card .card-details input[type="text"]:focus { outline: none; }

.credit-card .card-details button{
    margin-top: 0.6em;
    padding:12px 0;
    font-weight: 600;
}

.credit-card .date-separator{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .credit-card{
        height: 250vh;
        width: 100%;
    }
    .credit-card .title {
        font-size: 1.2em;
    }

    .credit-card .row .col-lg-6 {
        margin-bottom: 40px;
    }
    .credit-card .card-details {
        padding: 40px 40px 30px;
    }

    .credit-card .card-details button {
        margin-top: 2em;
    }
}