@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&display=swap');

:root {
    --darkbrown: #6f4518;
    --beige: #bc8a5f;
    --khaki:#e7bc91;
    --darkkhaki: #f3d5b5;
    --lightbrown: #fff1e6;
}

body {
    font-family: 'Poppins', sans-serif; !important;
    background-color: var(--lightbrown); !important;
}

.bgimage {
    align-items: center;
    background: url('https://images.unsplash.com/photo-1613087088715-4b613e9b4d68?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1035&q=80');
    display: flex;
    background-size: cover;
    background-color: white;
    height: 50vh;
    color: white;
}

.title {
    font-size: 10em;
    color: var(--lightbrown);
}

#button{
    padding-top: 15%;
    padding-bottom: 15%;
}

#profile {
    padding-top: 6%;
    padding-bottom: 15%;
}

#bio {
    padding-top: 6%;
    padding-bottom: 15%;
}

#album {
    padding-top: 6%;
    padding-bottom: 15%;
}

#gallery {
    padding-top: 6%;
    padding-bottom: 15%;
}

hr {
    color: var(--darkbrown); !important;
}

h1 {
    color: var(--darkbrown); !important;
    font-family: 'Permanent Marker', cursive; !important;
    text-align: center;
}

h2 {
    color: var(--darkbrown); !important;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h5 {
    color: var(--beige); !important;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

h6 {
    text-align: center;
    color: var(--beige); !important;
    font-family: 'Permanent Marker', cursive;
}

h7 {
    text-align: center;
    color: var(--khaki); !important;
    font-family: 'Permanent Marker', cursive;
}

p1 {
    text-align: center;
}

p2 {
    text-align: justify;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    font-family: 'Permanent Marker', cursive;

}
.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
}

.btn-1 {
    background-image: linear-gradient(to right, #f3d5b5 0%, #d9ae94 51%, #f3d5b5 100%);
}

.btn-2 {
    background-image: linear-gradient(to right, #e7bc91 0%, #f3d5b5 51%, #e7bc91 100%);
}

.btn-3 {
    background-image: linear-gradient(to right, #bc8a5f 0%, #e7bc91 51%, #bc8a5f 100%);
}

.btn-4 {
    background-image: linear-gradient(to right, #6f4518 0%, #bc8a5f 51%, #6f4518 100%);
}

@media (min-width:300px) {
    .title {
        font-size: 50px;
        color: var(--6);
        font-family: 'Permanent Marker', cursive;!important;

    }