@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&display=swap');

:root {
    --1: #ffb5a7;
    --2: #fcd5ce;
    --3:#f8edeb;
    --4: #fec89a;
    --5: #f9dcc4;
    --6: #fadde1;
}

body {
    font-family: 'Poppins', sans-serif; !important;
    background-color: var(--3); !important;
}

.bgimage {

}

.bgimage {
    align-items: center;
    background: url('https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80');
    display: flex;
    background-size: cover;
    background-color: white;
    height: 50vh;
    color: white;
}

.title {
    font-size: 10em;
    color: var(--3);
}

#button{
    padding-top: 15%;
    padding-bottom: 15%;
}

#profile {
    padding-top: 6%;
    padding-bottom: 15%;
}

#bio {
    padding-top: 6%;
    padding-bottom: 15%;
}

#album {
    padding-top: 6%;
    padding-bottom: 15%;
}

#gallery {
    padding-top: 6%;
    padding-bottom: 15%;
}

hr {
    color: var(--1); !important;
}

h1 {
    color: var(--1); !important;
    font-family: 'Permanent Marker', cursive;  !important;
    text-align: center;
}

h2 {
    color: var(--1); !important;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h5 {
    color: var(--2); !important;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

h6 {
    color: var(--1); !important;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h7 {
    color: var(--2); !important;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

p1 {
    text-align: center;
}

p2 {
    text-align: justify;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    font-family: 'Permanent Marker', cursive;

}
.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
}

.btn-1 {
    background-image: linear-gradient(to right, #fadde1 0%, #fcd5ce 51%, #fadde1 100%);
}

.btn-2 {
    background-image: linear-gradient(to right, #fcd5ce 0%, #ffb5a7 51%, #fcd5ce 100%);
}

.btn-3 {
    background-image: linear-gradient(to right, #ffb5a7 0%, #f9dcc4 51%, #ffb5a7 100%);
}

.btn-4 {
    background-image: linear-gradient(to right, #f9dcc4 0%, #fec89a 51%, #f9dcc4 100%);
}

@media (min-width:300px) {
    .title {
        font-size: 50px;
        color: var(--6);
        font-family: 'Permanent Marker', cursive;
    !important;
    }
}