:root {
    --bg-color: #fafafa;
    --bg-color2: linear-gradient(360deg, #fafafa 0%, rgba(168, 218, 220, 0.3) 100%);
    --bg-color3: linear-gradient(360deg, rgba(168, 218, 220, 0.3) 0%, #fafafa 100%);
    --bg-color4: linear-gradient(360deg, rgba(29, 53, 87, 1) 0%, rgba(69, 123, 157, 1) 65%, rgba(168, 218, 220, 1) 100%);
    --circle-color: rgba(29, 53, 87, 0.8);
    --text-color: #fafafa;
    --1 : rgba(29, 53, 87, 1);
    --2 : rgba(69, 123, 157, 1);
    --3 : rgba(168, 218, 220, 1);
    --4 : #f1faee;
    --5 : #e37963;
}

/*tablet*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #home {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        text-align: center;
        background-attachment: fixed;
        background-image: url("../img/sea.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slogan {
        margin-top: 40em;
    }

    #slogan {
        font-family: 'Gideon Roman', cursive;
        font-size: 7vw;
        text-decoration: none;
        color: var(--text-color);
    }

    .about1 {
        margin-top: 10em;
    }

    #scroll-wrapper {
        opacity: 0;
    }

    .about2 {
        margin-top: 10em;
    }

    .ESG-l {
        margin-left: 5em;
        margin-right: 2em;
    }

    .ESG-r {
        margin-left: 2em;
    }

    #tri {
        width: 30vw;
        height: auto;
        align-items: center;
        text-align: center;
        margin-left: 35vw;
        margin-bottom: 8em;
        animation: rotate_image 50s linear infinite;
        transform-origin: 50% 50%;
    }

    .brand-p {
        margin-bottom: 2em;
    }

    .square {
        width: 80%;
        margin-left: 10%;
        padding-top: 10em;
    }

    #p1 {
        margin-right: 3em;
    }

    #p2 {
        margin-right: 3em;
    }

    .sas {
        margin-top: 10em;
    }

    .sas1 {
        margin-top: 4em;
    }

    .material {
        width: 100vw;
        height: 35vh;
    }

    .material-h {
        margin-top: 3em;
        font-family: 'Lora', serif;
        color: var(--text-color);
    }

    .material-p {
        margin-left: 10em;
        margin-right: 10em;
        color: var(--text-color);
        font-family: 'Montserrat', sans-serif;
        line-height: 50px;
        font-size: 18px;
    }

    #about4 {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 160vh;
        overflow: hidden;
        background-color: var(--bg-color);
    }

    #team1 {
        margin-top: 10em;
    }

    #team2 {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    #team3 {
        margin-top: 3em;
    }

    #donation {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 40vh;
        overflow: hidden;
        background-color: black;
    }

    #contact1 {
        margin-top: 5em;
    }

    #footer {
        margin-top: 10em;
    }

    #contact-ti {
        margin-top: 10em;
    }
}

@media screen and (min-width: 300px) and (max-width: 768px) {

    #home {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        text-align: center;
        background-attachment: fixed;
        background-image: url("../img/sea.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slogan {
        margin-top: 25em;
    }

    #slogan {
        font-family: 'Gideon Roman', cursive;
        font-size: 7vw;
        text-decoration: none;
        color: var(--text-color);
    }

    .about1 {
        margin-top: 0;
    }

    .ab1-p {
        margin-left: 5em;
        margin-right: 5em;
        font-family: 'Montserrat', sans-serif;
        line-height: 32px;
        font-size: 16px;
    }

    #scroll-wrapper {
        opacity: 0;
    }

    .about2 {
        margin-top: 4em;
        margin-bottom: 3em;
    }

    .ESG-l {
        margin-left: 3.5em;
        margin-right: 2em;
    }

    .ESG-r {
        margin-left: 2em;
    }

    #tri {
        width: 30vw;
        height: auto;
        align-items: center;
        text-align: center;
        margin-left: 35vw;
        margin-top: 2em;
        margin-bottom: 4em;
        animation: rotate_image 50s linear infinite;
        transform-origin: 50% 50%;
    }

    .big-letter {
        font-size: 90px;
        font-family: 'Lora', serif;
    }

    .small-letter {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    }

    .explanation {
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
    }


    .brand-p {
        margin-bottom: 0;
    }

    .square {
        width: 80%;
        margin-left: 10%;
        padding-top: 10em;
    }

    #p1 {
        margin-right: 3em;
    }

    #p2 {
        margin-right: 3em;
    }

    .sas {
        margin-top: 0;
    }

    .sas1 {
        margin-top: 1em;
    }

    .material {
        width: 100vw;
        height: 30vh;
    }

    .material-h {
        margin-top: 1.5em;
        font-family: 'Lora', serif;
        color: var(--text-color);
    }

    .material-p {
        margin-left: 5em;
        margin-right: 5em;
        color: var(--text-color);
        font-family: 'Montserrat', sans-serif;
        line-height: 36px;
        font-size: 18px;
    }

    #about4 {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 160vh;
        overflow: hidden;
        background-color: var(--bg-color);
    }

    #team1 {
        margin-top: 0;
    }

    #team2 {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #team3 {
        margin-top: 2em;
    }

    #donation {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 30vh;
        overflow: hidden;
        background-color: black;
    }

    .video-box {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        margin: 0px auto;
        position: relative;
    }

    video {
        width: 100%;
        opacity: 0.8;
    }

    .video-text {
        position: absolute;
        top: 2em;
        width: 100vw;
    }

    .video-text1 {
        text-align: center;
        color: var(--text-color);
        font-family: 'Lora', serif;
        font-weight: bold;
        font-size: 25px;
    }

    .video-text2 {
        text-align: center;
        color: var(--text-color);
        font-family: 'Lora', serif;
        text-decoration: underline;
    }

    .video-text3 {
        margin-left: 5em;
        margin-right: 5em;
        color: var(--text-color);
        font-family: 'Montserrat', sans-serif;
        line-height: 24px;
        font-size: 14px;
    }

    .join {
        text-align: center;
        color: var(--text-color);
        font-family: 'Lora', serif;
        font-weight: bold;
        font-size: 25px;
    }

    #join {
        color: var(--text-color);
    }

    #join:hover {
        color: var(--text-color);
        font-style: italic;
        font-size: 35px;
        border-bottom:  10px solid var(--5);
        transition: transform 0.2s, font-size 0.8s;
    }

    #contact1 {
        margin-left: 0;
    }

    #contact2 {
        padding-top: 2em;
    }

    #contact3 {
        padding-top: 2em;
    }

    #footer1 {
        margin: 0;
    }

    #footer {
        margin: 0;
        padding-bottom: 3em;
    }

    footer p {
        font-family: 'Open Sans', sans-serif;
        font-weight:200;
        font-size:0.4em;
        text-decoration: none;
    }
}

/*phoneX*/
@media screen and (min-width: 300px) and (max-width: 767px) {
    h1 {
        font-family: 'Gideon Roman', cursive;
        font-size: 25px;
    }

    h2 {
        font-family: 'Lora', serif;
        font-size: 20px;

    }

    h3 {
        font-family: 'Lora', serif;
        font-size: 18px;
    }

    h4 {
        font-family: 'Lora', serif;
        font-size: 16px;
    }

    h5 {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    #cd-vertical-nav {
        opacity: 0;
    }

    #home {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        text-align: center;
        background-attachment: fixed;
        background-image: url("../img/sea.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slogan {
        margin-top: 18em;
    }

    #slogan {
        font-family: 'Gideon Roman', cursive;
        font-size: 7vw;
        text-decoration: none;
        color: var(--text-color);
    }

    .about1 {
        margin-top: 0;
    }

    #about-title1 {
        margin-top: 0;
    }

    .ab1-p {
        margin-left: 2em;
        margin-right: 2em;
        font-family: 'Montserrat', sans-serif;
        line-height: 24px;
        font-size: 12px;
    }

    #scroll-wrapper {
        opacity: 0;
    }

    .about2 {
        margin-top: 1em;
        margin-bottom: 3em;
    }

    .ESG-l {
        margin-left: 0;
        margin-right: 0;
    }

    .ESG-r {
        margin-left: 0;
    }

    #tri {
        width: 30vw;
        height: auto;
        align-items: center;
        text-align: center;
        margin-left: 35vw;
        margin-top: 2em;
        margin-bottom: 4em;
        animation: rotate_image 50s linear infinite;
        transform-origin: 50% 50%;
    }

    .big-letter {
        font-size: 30px;
        font-family: 'Lora', serif;
    }

    .small-letter {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    }

    .explanation {
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
    }


    .brand-p {
        margin-bottom: 0;
    }

    .square {
        width: 80%;
        margin-left: 10%;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    #p1 {
        margin-left: 2.5em;
        text-align: center;
    }

    #p2 {
        margin-left: 2.5em;
        text-align: center;
    }

    .sas {
        margin-top: 0;
        text-align: center;
    }

    .sas1 {
        margin-top: 1em;
        text-align: center;
    }

    .material {
        width: 100vw;
        height: 25vh;
    }

    .material-h {
        margin-top: 1em;
        font-family: 'Lora', serif;
        color: var(--text-color);
        font-size: 18px;
    }

    .material-p {
        margin-top: 0;
        margin-left: 2em;
        margin-right: 2em;
        color: var(--text-color);
        font-family: 'Montserrat', sans-serif;
        line-height: 24px;
        font-size: 12px;
    }

    #about4 {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 160vh;
        overflow: hidden;
        background-color: var(--bg-color);
    }

    #team1 {
        margin-top: 0;
    }

    #team2 {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #team3 {
        margin-top: 2em;
    }

    .video-box {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
    }

    video {
        opacity: 0;
    }

    .video-text {
        top: 3em;
        width: 100vw;
    }

    .video-text1 {
        text-align: center;
        color: var(--text-color);
        font-family: 'Lora', serif;
        font-weight: bold;
        font-size: 25px;
    }

    .video-text2 {
        text-align: center;
        color: var(--text-color);
        font-family: 'Lora', serif;
        text-decoration: underline;
    }

    .video-text3 {
        margin-left: 1.5em;
        margin-right: 1.5em;
        color: var(--text-color);
        font-family: 'Montserrat', sans-serif;
        line-height: 24px;
        font-size: 12px;
    }

    .join {
        text-align: center;
        color: var(--text-color);
        font-family: 'Lora', serif;
        font-weight: bold;
        font-size: 25px;
    }

    #join {
        color: var(--text-color);
    }

    #join:hover {
        color: var(--text-color);
        font-style: italic;
        font-size: 35px;
        border-bottom:  10px solid var(--5);
        transition: transform 0.2s, font-size 0.8s;
    }

    .team-intro {
        margin-top: 0;
        margin-left: 2em;
        margin-right: 2em;
    }

    .member {
        width: 150px;
        height: auto;
        padding-bottom: 1em;
    }

    #member2 {
        padding-top: 2em;
    }

    #member3 {
        padding-top: 2em;
    }

    .member-p {
        margin-left: 2em;
        margin-right: 2em;
    }

    #contact1 {
        margin-left: 0;
    }

    #contact2 {
        padding-top: 2em;
    }

    #contact3 {
        padding-top: 2em;
    }

    #footer1 {
        margin: 0;
    }

    #footer {
        margin: 0;
        padding-bottom: 3em;
    }

    footer p {
        font-family: 'Open Sans', sans-serif;
        font-weight:200;
        font-size:8px;
        text-decoration: none;
    }

    #about1 {
        margin-left: 0;
        padding: 0;
        width: 100vw;
        height: 110vh;
        overflow: hidden;
        background-image: var(--bg-color3);
        background-repeat: no-repeat;
    }

    #about2 {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 120vh;
        overflow: hidden;
        background-image: var(--bg-color2);
        background-repeat: no-repeat;
    }

    #about3 {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 160vh;
        overflow: hidden;
        background-color: var(--bg-color);

    }

    #about4 {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 120vh;
        overflow: hidden;
        background-color: var(--bg-color);
    }

    #team {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 215vh;
        overflow: hidden;
        background-color: var(--bg-color);
    }

    #donation {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 50vh;
        overflow: hidden;
        background: linear-gradient( 180deg,
        #0d1d36,
        #1d3557,
        #457b9d,
        #a8dadc);
        background-size: 500% 500%;
        animation: gradient 10s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    #contact {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 190vh;
        overflow: hidden;
        background-color: var(--bg-color);
    }

    .navbar-toggler {
        padding: 0.25rem 0.15rem;
    }

    hr {
        width: 50%;
        margin-left: 5em;
    }

    section {
        margin: 0;
    }

    #sustain {
        text-align: center;
        line-height: 36px;
    }
}